@namespace KindleNotes.Components

<div>
    <h3>Content</h3>
    @foreach (var content in ClippingsFile.KindleContent)
    {
        <KindleContentComponent Content="@content" />
    }
</div>

@code {
    [Parameter]
    public ClippingsFileViewModel ClippingsFile { get; set; }
}
