@namespace KindleNotes.Components

<div class="content">
    <div class="location">@Content.Type | Location: @Content.Location</div>
    <div>Title: @Content.Title</div>
    <div class="details">@Content.Details</div>
</div>

@code {
    [Parameter]
    public KindleContentViewModel Content { get; set; }
}
