@using KindleNotes.Models;

@namespace KindleNotes.Components

<div>
    @foreach (var clipping in ParsedClippingsFile.RawClippings)
    {
        <h4>Clipping of type @clipping.Type</h4>
        @foreach (var line in clipping.Lines)
        {
            <div>@line</div>
        }
    }
</div>

@code {
    [Parameter]
    public ParsedKindleClippingsFile ParsedClippingsFile { get; set; }
}
